.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    height: 60%
}
.arrowColumn{
    text-align: center;
    font-size: 3em;
    color: burlywood;
}